.content{
    // container-type: inline-size; 
    background-color: $mainColor;
    padding: 0 100px;
    border: 1px dotted blue;
    color: $mainFontColor;
  
}


.paragraphe{
    margin-top: 1%;
}

/**
@container ( width < 660px){
    .vertical{
        display: none; 
    }

}

*/