.headeur{
    container-type: inline-size; 
    display: flex;
    height: 10vh;
    justify-content: space-between;
    color: $mainFontColor;
    
}


@container (width < 660px){
    .navbar{
        width:100%; 
        font-size: 0.8rem; 
        background-color: aqua;
        display: flex; 
        align-items: center; 
        justify-content: space-around;
          
        a{
            color: $mainColor;
            font-weight: 600; 
        } 
        
    }
    .logo{
        svg{
        display:none; 
        color: red; 
        }
        p{
            display:none; 
        }
    }
    

}