.intro{
    position: relative;
    width: 60%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    letter-spacing: 2.5px;
    gap: 15px;
    opacity: 0.5;
    animation: fadeIn 1s linear forwards;
    h1{
        font-size: 2rem;
        strong{
            color: $secundFontColor;
        }
    }
    p{
        content: '';
        font-size: 1.2rem;
    }
}

.strong{
    font-weight: normal;
    color: $secundFontColor;
}

