.linkShape{
    position: fixed;
    right: 3%;
    bottom: 20%;
    border-radius: 10px;
    height: 15vh;
    display: flex;
    flex-direction: column;
    border-width: 1px;
    padding: 2% 0.5%;
    


    @include flexBoxCenter; 
    & > *  {
        font-size: 1.5rem;
        padding: 2%;
        
        
       
        &:hover{
            opacity: 1;
            color: rgb(106, 133, 106); 
            transition: color 1s;

        }
        
    }
}