.linkBtn{
    background-color: var(--mainBlue);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    border-radius: 10px;
    max-height: 18px;
    max-width: 150px ;
    a{
        text-decoration: none;
        color: white;
    }
}
