#root:has(#loader){
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mainColor;
}


/* loader has className logo */

#loader{
    height: 100vh;
    margin: auto;
    svg{
        width: 140px;
        height: 100px;
        position: absolute; 
        
    }
   
    p{
        font-size: 3.5rem; 
        left: -2px; 
        top: -4px;
        position: relative
    }
}

#navLogo{
    position: relative;
    p{
        position: absolute;
        top:-20px
    }
}

.logo{
   @include flexBoxCenter; 
   position: relative;
   svg{
    width: 70px;
    height: 60px;
    overflow: visible;
    
    path{
        stroke: $colorSecundary;
        color: $mainColor;
        stroke-width: .5px;
        stroke-linecap:square;
        stroke-linejoin: round; //bevel //round //mitter
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 20s linear forwards;
    }
    
   }
   p{
    position: absolute;
    top: -20px;
    bottom: 0px;
    opacity: 0;
    right: 0;
    left: 23px;
    font-size: 2rem;
    font-weight: 600;
    color: $mainFontColor;
    z-index: 2;
    animation: fadeIn 2s linear forwards;
   }
}


