

/* navbar sur la page main/index 
*
* pas de background-color 
*
*/

$navHeight: 11.5vh; 

.navandcontact{
    position: fixed;
    width: 100%;
    display: flex;
    /*top: 0;*/
    background-color: transparent;
    z-index: 5;
    height: $navHeight;
    box-shadow: 0.1rem 0.1rem 0.8rem rgba(0, 0, 0, 0.2);
}

.scrolled{
    opacity: 0.9;
}



.navbar{
    display: grid;
    flex: 1; 
    order: 2;
    gap: 0%;
    height: 10%;
    margin: auto 0 auto 0;
    width: 100%;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    

   
}




@media (max-width: 700px) {
    

    .secondnavbar{
        display: none;
    }
    


}


/* navlink */

::root{
    --fontlink: rgb(48, 33, 33);
}

/* classe du component navlink basique */


.divLink{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    align-items: flex-start;
    
}




.fontlinkcontainer{
    white-space: nowrap;
    grid-row: 1;
    text-align: center;
    flex: 1;
    width: 90%; 
    
   
    
}



.classnavlink{
    text-decoration: none; 
    color: $mainFontColor;
    
    
}

.classnavlink > h2{
    margin: 0;
    font-size: .9rem;
    color: var(--mainBlue);
}


.classnavlink:hover h2{
    color: $colorSecundary;
}


.droplink{
    text-decoration: none;
    height: 15%;
    display: block;
    font-size: 1.2rem;
   
}





.droplink:hover.droplink::after{
    opacity: 1;
}


.dropDownIcon{
    display: inline-block;
    margin-left: 10% ;
    margin-top: 2%;
   
}



.dropped{
    display: block;
    margin-top: calc($navHeight/3.3);     /*1.64vh*/
    background-color: rgba( #3d2828, .4);
    height: 30vh;
    box-shadow: inset 0.1rem 0.1rem 0.2rem rgba(102, 96, 96, 0.5), inset -0.1rem -0.1rem rgba(182, 171, 171, 0.5),  ;
    margin-left: 10%;
    width: 70%;
}




.notdropped{
    display: none;
    position: absolute;
    background-color: transparent; 
    height: 30vh;
}








