.verticalLine{
    color: white;
    background-color: $colorSecundary; 
    height: 200px;
    width: 1px;
}

.vertical{
    color: white;
    writing-mode: vertical-lr;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    opacity: 1;
    transform: translateY(100px); 
    animation: slidein 500ms linear forwards;
   
}



#email > .verticalLine{
    height: 160px;
}


.verticalContent{
margin-bottom: 5px;

/* ne marche pas */
a{
    text-decoration: none;
    font-size: 1.3rem;
    margin-bottom: 10px;
}


}


.verticalContent:hover{
    animation: hoverSlide 0.5s ease-in-out forwards;
}


.verticalContent:not(:hover){
    animation: hoverOff 0.5s ease-in-out forwards;
}

#email{
    grid-column: 1;
    grid-row: 1;
    position: fixed;
    bottom: 0;
    left: 50px;
}

#media{
    grid-column: 3;
    grid-row: 1;
    position: fixed;
    bottom: 0;
    right: 50px;
}
