
.experience{
    background: linear-gradient(to left , rgb(183, 226, 183), rgb(161, 161, 197) )
}

.intro-experience{
   
    margin: 0; 
    width: 90%;
    height: 100vh;
    color: rgb(38, 59, 59);
    
}

.intro-experience-title{
     
    font-size: 1.2rem;
}

.asten{
    
    img{
        width: 50%;
        height: auto;
    }
}

.photo-div{
    display: flex;
    width: 70%;
    
}

.pharmacie{

    height: 100vh;

    article{
        width: 80%;
        display: flex;
        img{
            width: 30%;
            height: auto;
            margin-right: 5%;
        }
    }

}

