.home{
    height: 200vh;
    background: linear-gradient(to left , $mainColor, $colorSecundary);

}

.contactButton{
    width: 20%;
    border: none;
    
    background-color: $mainColor;
    font-family: $mainFont;
    padding: 1%;
    cursor: pointer;

}

.main{
    
    width: 80%;
    margin: auto;
    font-size: 0.8rem;
    letter-spacing: 2.5px;

}
.section-index{
    width: 80%;
    margin: auto;
}