$indexFontColor: rgb(19, 27, 61); 

.home{
    height: 200vh;
    background: linear-gradient(to left , $mainColor, $colorSecundary);
    position: relative;
}

.contactButton{
    width: 20%;
    border: none;
    margin: 5% 0 ;
    opacity: 0;
    background-color: $mainColor;
    font-family: $mainFont;
    transform: translateX(10vw);
    padding: 1%;
    animation: slidein forwards 2s; 
    animation-delay: 5s;

}



.intro{
   color: $indexFontColor; 
   & > * {
    margin: 0;
   }

   h1{

   }

   h2{
    font-size: 1.3rem;
    margin: 2% 0;
   }
}
.image-container{
    height: 30vh;
    overflow: hidden;
    border-radius: 20px;

}

.imageBg{
   margin-top: -30px;
   width: 100%;
   height: auto;
   object-fit: cover;
   border-radius: 20px;
   opacity: .8;
   transition: opacity .5s;
   
}

.imageBg:hover{
    margin-top: -150px;
    transition: margin-top .5s;
}

.imageBg:not(hover){
    margin-top: -30px;
    transition: margin-top .5s;
}

.strong{
    color: goldenrod;
    font-size: 1.2em;
}

.section-index{
    width: 80%;
    margin: auto;
}