$mainColor: rgb(190, 187, 165);
$mainFontColor : rgb(37, 29, 29);  
$colorSecundary: rgb(44, 104, 104); 
$secundFontColor: rgb(172, 152, 152);
$thirdColor : rgb(223, 238, 240);  
$mainFont: "Lora"; 


@import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans+HK:wght@300&family=Passions+Conflict&display=swap');
 



@import "./mixin/mixin.scss"; 
@import "./components/navbar";
@import "./components/vertical";

@import "./components/linkShape"; 
@import "./components/headeur";
@import "./components/loader";
@import "./keyframes/keyframes";
@import './pages/curriculum';
@import './pages/experience';
@import './pages/home';






html, body{
    
    margin: 0; 
    font-family: $mainFont;
    /*background-color: $mainColor;
      */
}

/* tout le contenu en dessous du header */

.main{
    padding-top: calc(2*$navHeight);
    width: 80%;
    margin: auto;
    font-size: 1rem;
    letter-spacing: 2.5px;
    line-height: 2rem;

}


.back{
    font-size: 1rem; 
    color: white;
    text-decoration: none ;
    position: absolute; 
    top : 2%; 
    left : 2%;  
}
